<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.otf</string>
		<string>Montserrat-Italic.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-MediumItalic.otf</string>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-SemiBold.otf</string>
		<string>Montserrat-SemiBoldItalic.otf</string>
		<string>Montserrat-Thin.otf</string>
		<string>Montserrat-ThinItalic.otf</string>
	</array>
</dict>
</plist>
